<div class="navbar">
	<button class="play-snake">
	STASH
	</button>

  <%= button_to "Log out", sign_out_path, class: "logout-button nav-button", method: :get %>

</div>

<div class="quotes-container">
  <%= render "quotes/quotes" %>
</div>

<div class="snake-container">
  <%= render "snake" %>
</div>

<div class="snake-container-overlay">
</div>


<!-- Articles -->
<div class="articles-container">
</div>

<!-- Goals -->

<div class="goals-container feature-card">

<div>
  <%= render "goals/goals_form" %>
  <%= render "goals/index" %>

</div>

<div class="stats-container feature-card">
</div>

<div class="flashes">
</div>
