<div class="navbar">
  <button class="play-snake">
    STASH
  </button>
  <%= button_to "Log out", sign_out_path, class: "logout-button nav-button", method: :get %>
</div>

<div class="flashes">
	<%= render 'layouts/flashes' %>
</div>

<div class="quotes-container">
  <%= render "quotes/quotes" %>
</div>

<div class="snake-container">
  <%= render "snake" %>
</div>

<div class="snake-container-overlay">
</div>



<!-- Articles -->
<!-- <div class="articles-header feature-card-header">
	<span class="articles-text feature-card-header-text"> Resources </span>
</div> -->
<div class="articles-container feature-card">

	<div class="articles-header feature-card-header">
		<span class="articles-text feature-card-header-text"> Resources </span>
	</div>

	<div class="feature-card-content">
    <div class="article-form">
    	<%= link_to "Post an Article", new_article_path, id: "new_article", remote: true %>
    </div>
    <div class="article-feed">
    	<%= render 'articles/index' %>
    </div>
 	</div>

</div>



<!-- Goals -->

<div class="goals-container feature-card">
  <div class="goals-header feature-card-header">
		<span class="goals-text feature-card-header-text"> Goals </span>
	</div>
  <div class="feature-card-content">
    <div class="goal-form">
      <%= render "goals/goals_form" %>
    </div>
    <div class="goal-feed" %>
      <%= render "goals/index" %>
    </div>
	</div>
</div>

<!-- <div class="goals-header feature-card-header">
	<span class="goals-text feature-card-header-text"> Goals </span>
</div> -->

<!-- Stats -->

<div class="stats-container feature-card">
	<div class="stats-header feature-card-header">
		<span class="stats-text feature-card-header-text"> Stats </span>
	</div>
	<div class="feature-card-content">
  	<div class="goals-count">
      <%= render 'goals/goals_count' %> 
    </div>

    <div class="articles-count">
      <%= render 'articles/articles_count' %>
    </div>

    <div class="upvotes-count">
      <%= render 'upvotes/upvotes_count' %>
    </div>
  </div>
</div>
