<div class="navbar">
  <button class="play-snake">
    STASH
  </button>
  <%= button_to "Log out", sign_out_path, class: "logout-button nav-button", method: :get %>
</div>

<div class="flashes">
	<%= render 'users/flashes' %>
</div>

<div class="quotes-container">
  <%= render "quotes/quotes" %>
</div>

<div class="snake-container">
  <%= render "snake" %>
</div>

<div class="snake-container-overlay">
</div>



<!-- Articles -->
<div class="articles-container">
  <div class="article-form">
    <%= render partial: '/articles/form' %>
  </div>
  <div class="article-feed">
  	<%= render 'articles/index' %> 
  </div>
</div>

<!-- Goals -->

<div class="goals-container feature-card">
  <%= render "goals/goals_form" %>
  <%= render "goals/index" %>
</div>

<div class="stats-container feature-card">
</div>
